
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
Initiator/161250178/FundInfo
Initiator/161250178/TaskList
Task/13/FundInfo
Task/13/ImageList
Task/13/WorkerList
Task/14/FundInfo
Task/14/ImageList
Task/14/WorkerList
tempath/20180601101800.zip
tempath/20180601102350.zip
tempath/20180601102744.zip
tempath/20180601103022.zip
tempath/20180601103858.zip
tempath/20180601103905.zip
tempath/20180601104200.zip
tempath/20180601104507.zip
tempath/20180601104918.zip
Worker/worker/TaskList
target/classes/application.properties
target/classes/argustags/argustags_phase_ii/ArgusTagsPhaseIiApplication.class
target/classes/argustags/argustags_phase_ii/controller/AdminController.class
target/classes/argustags/argustags_phase_ii/controller/InitiatorController.class
target/classes/argustags/argustags_phase_ii/controller/pageController.class
target/classes/argustags/argustags_phase_ii/controller/TaskController.class
target/classes/argustags/argustags_phase_ii/controller/WorkerController.class
target/classes/argustags/argustags_phase_ii/po/UserPO/UserPO.class
target/classes/argustags/argustags_phase_ii/repository/ImageRepository.class
target/classes/argustags/argustags_phase_ii/repository/InitiatorRepository.class
target/classes/argustags/argustags_phase_ii/repository/TagRepository.class
target/classes/argustags/argustags_phase_ii/repository/TaskRepository.class
target/classes/argustags/argustags_phase_ii/repository/WorkerRepository.class
target/classes/argustags/argustags_phase_ii/service/AdminService.class
target/classes/argustags/argustags_phase_ii/service/InitiatorService.class
target/classes/argustags/argustags_phase_ii/service/TaskService.class
target/classes/argustags/argustags_phase_ii/service/WorkerService.class
target/classes/argustags/argustags_phase_ii/serviceImpl/AdminImpl.class
target/classes/argustags/argustags_phase_ii/serviceImpl/InitiatorImpl.class
target/classes/argustags/argustags_phase_ii/serviceImpl/TaskImpl.class
target/classes/argustags/argustags_phase_ii/serviceImpl/WorkerImpl.class
target/classes/argustags/argustags_phase_ii/util/Filehelper.class
target/classes/argustags/argustags_phase_ii/util/Jsonhelper.class
target/classes/argustags/argustags_phase_ii/util/RegisterLogin.class
target/classes/argustags/argustags_phase_ii/util/ResultMessage.class
target/classes/argustags/argustags_phase_ii/util/UnZip.class
target/classes/argustags/argustags_phase_ii/vo/Image.class
target/classes/argustags/argustags_phase_ii/vo/InitiatorVO.class
target/classes/argustags/argustags_phase_ii/vo/Tag.class
target/classes/argustags/argustags_phase_ii/vo/TaskVO.class
target/classes/argustags/argustags_phase_ii/vo/WorkerVO.class
target/classes/hibernate.cfg.xml
target/classes/static/css/bootstrap.css
target/classes/static/css/form.css
target/classes/static/css/inistyle.css
target/classes/static/css/markpage.css
target/classes/static/css/reset.css
target/classes/static/css/style.css
target/classes/static/css/supersized.css
target/classes/static/html/admin.html
target/classes/static/html/index.html
target/classes/static/html/inimain.html
target/classes/static/html/inimes.html
target/classes/static/html/markzone.html
target/classes/static/html/register.html
target/classes/static/html/taskrl.html
target/classes/static/html/WorkerFindTask.html
target/classes/static/html/workermain.html
target/classes/static/html/workerOngoingTask.html
target/classes/static/img/backgrounds/1.jpg
target/classes/static/img/backgrounds/2.jpg
target/classes/static/img/backgrounds/3.jpg
target/classes/static/img/facebook.png
target/classes/static/img/progress.gif
target/classes/static/img/twitter.png
target/classes/static/js/jquery-1.8.2.min.js
target/classes/static/js/jquery.cookie.js
target/classes/static/js/scripts.js
target/classes/static/js/supersized-init.js
target/classes/static/js/supersized.3.2.7.min.js
target/classes/static/js/test.js
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/argustags.argustags_phase_ii.ArgusTagsPhaseIiApplicationTests.txt
target/surefire-reports/argustags.argustags_phase_ii.serviceImpl.WorkerImplTest.txt
target/surefire-reports/TEST-argustags.argustags_phase_ii.ArgusTagsPhaseIiApplicationTests.xml
target/surefire-reports/TEST-argustags.argustags_phase_ii.serviceImpl.WorkerImplTest.xml
target/test-classes/argustags/argustags_phase_ii/ArgusTagsPhaseIiApplicationTests.class
target/test-classes/argustags/argustags_phase_ii/serviceImpl/WorkerImplTest.class
